html {
	font-family: Arial, sans-serif;
}

body {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.fonts-loaded {
	font-family: Muli, Arial, sans-serif;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
