.team {
  &__wrapper {
    @include container();
    padding: 140px 15px 200px;
  }

  &__title {
    position: relative;
    margin: 0 0 100px;
    color: rgb(68, 68, 68);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: "Expert";
      position: absolute;
      z-index: -1;
      bottom: -14px;
      left: 50%;
      color: #ededed;
      font-family: Montserrat;
      font-size: 91px;
      font-weight: 900;
      text-transform: uppercase;
      transform: translateX(-50%);
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__box {
    position: relative;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  &__item {
    flex-grow: 1;
    width: 30%;
    text-decoration: none;
    text-align: center;

    img {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__info {
    @include border-box();
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 533px;
    padding: 90px 20px 10px;
    text-align: center;
    background-color: rgb(255, 228, 0);
  }

  &__item-footer {
    padding: 20px 25px;
    background-color: rgb(235, 235, 235);
  }

  &__name {
    margin: 0;
    padding-bottom: 20px;
    color: rgb(68, 68, 68);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px dotted rgb(183, 183, 183);

    &--yellow {
      margin-bottom: 20px;
      padding: 0;
      font-size: 24px;
      border: none;
    }
  }

  &__position {
    margin: 0;
    padding-top: 20px;
    color: rgb(68, 68, 68);
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;

    &--yellow {
      margin-bottom: 70px;
      padding: 0;
      font-size: 16px;
    }
  }

  &__descr {
    margin: 0 0 120px;
    color: rgb(0, 0, 0);
    font-family: Muli;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .social {
    border-top: 1px dotted rgb(171, 153, 0);
  }
}
